<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bottom Drawer</title>
  {{!-- Foundation --}}
  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  {{!-- Bootstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  {{!-- NPM --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  {{!-- Font Awesome --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  {{!-- Google Fonts --}}
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  {{!-- Custom CSS --}}
  <link rel="stylesheet" href="/css/style.css">
  {{!-- JQuery --}}
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar sticky-top navbar-dark bg-dark custom-nav">
    <div class="container-fluid">
      <a class="navbar-brand custom-logo" href="/">𝔹OTTOM 𝔻RAWER</a>
      <form class="d-flex">
        <div class="input-group input-group-rounded custom-search-bar">
          <input class="input-group-field custom-search" type="search"
            placeholder=" 𝘘  Search for items, brands, styles, ect...">
        </div>
      </form>
      <div class="justify-content-end btn-group">
        {{#if logged_in}}
        <a href="/dashboard" class="btn btn-outline-success custom-button profile-btn"><i
            class="far fa-user-circle"></i> Welcome {{user_name}} </a>
        <button id="logout" class="btn  btn-outline-success custom-button">logout</button>
        {{else}}
        <button class="btn btn-outline-success me-2 custom-button" type="button"
          onclick="window.location.href='/login'">login</button>
        {{/if}}
      </div>
    </div>
  </nav>

  <!-- Render the sub layout -->
  {{{ body }}}

  <footer>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-7">
            <div class="footer__about">
              <div class="footer__logo">
                <a class="navbar-brand custom-logo" href="/">𝔹OTTOM 𝔻RAWER</a>
              </div>
              <small>Bottom Drawer Marketplace is a public e-commerce trade site to buy and sell clothing.</small>
              <div class="footer__payment">
                <a href="#"><img src="img/payment/xpayment-1.png.pagespeed.ic.n2kKvTDVR3.webp" alt=""
                    data-pagespeed-url-hash="816491970"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                <a href="#"><img src="img/payment/xpayment-2.png.pagespeed.ic.ZRduM6EAng.webp" alt=""
                    data-pagespeed-url-hash="1110991891"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                <a href="#"><img src="img/payment/xpayment-3.png.pagespeed.ic.WyXEccmJ7c.webp" alt=""
                    data-pagespeed-url-hash="1405491812"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                <a href="#"><img src="img/payment/xpayment-4.png.pagespeed.ic.KD_lCYLjIB.webp" alt=""
                    data-pagespeed-url-hash="1699991733"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                <a href="#"><img src="img/payment/xpayment-5.png.pagespeed.ic.KHHEnRgd3x.webp" alt=""
                    data-pagespeed-url-hash="1994491654"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-5">
            <div class="footer__widget">
              <h6>Quick links</h6>
              <ul>
                <li><a href="https://github.com/heatherloisejackson/super-octo-funicular">About</a></li>
                <li><a href="https://github.com/heatherloisejackson/super-octo-funicular">Blogs</a></li>
                <li><a href="https://github.com/heatherloisejackson/super-octo-funicular">Contact</a></li>
                <li><a href="https://github.com/heatherloisejackson/super-octo-funicular">FAQ</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4">
            <div class="footer__widget">
              <h6>Account</h6>
              <ul>
                <li><a href="/dashboard">My Account</a></li>
                <li><a href="/dashboard">Orders Tracking</a></li>
                <li><a href="/dashboard">Checkout</a></li>
                <li><a href="/dashboard">My Items</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-8 col-sm-8">
            <div class="footer__newslatter">
              <h6>NEWSLETTER</h6>
              <form action="#">
                <input type="text" placeholder="Email">
                <button type="submit" class="site-btn">Subscribe</button>
              </form>
              <div class="footer__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="footer__copyright__text">
              <small>Copyright © Bottom Drawer Marketplace
                2021 All rights reserved | This site was made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://github.com/heatherloisejackson/super-octo-funicular">Amy Smerlick, Dexter Vorbe, and Heather Jackson</a>
              </small>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  {{#if logged_in}}

  <script src="/js/logout.js"></script>
  <script src="/js/deleteItem.js"></script>
  {{/if}}
</body>

</html>