  <div id="login-box" class="col-md-6" style="margin: 0 auto;">
    <div class="px-4 py-5 my-5 text-center">
      <img class="d-block mx-auto mb-4" src="https://static.thenounproject.com/png/178831-200.png" alt="" width="72" height="57">
      <h1 class="display-5 fw-bold">Login</h1>
  </div>

    <form class="form login-form custom-login">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary custom-buy-btn" type="submit">login</button>
      </div>
    </form>


<script src="./js/login.js"></script>