header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

/* .input-group-rounded {
  width: 30%;
  border-radius: 15px;
} */

/* #login-box {
  margin: 0 auto;
} */

.welcome-title {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.identificationcard {
  padding: 70px 70px;
  font-size: 25px;
}

.dasbhboarditems {
  padding: 30px 75px;
  font-size: 22px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
}